<div class="archieve-container">
  <ul class="archieve-list">

  {% assign var = 0 %}
  {% for post in site.posts %}
      {% if post.category[0] != 'Work' %}

        <li>
          <h3 class="h3">
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
            </a>
            <span class="archieve-date">~ {{ post.date | date_to_string }}</span>
          </h3>
        </li>

          {% assign var = var | plus: 1 %}

          {% if var == 9 %}
              {% break %}
          {% endif %}

      {% endif %}

  {% endfor %}

  </ul>
</div>