<footer>
    <div class="archieve-footer">

    <a onmouseover="this.style.backgroundColor = '#b4abab'; this.style.color = 'white'"
       onmouseout="this.style.backgroundColor = '#f9f9f9'; this.style.color='#717171'"
       style="text-decoration: none;"
       class="archieve-box"
       href="{{site.baseurl}}/mail-subscribe.html">Mail Subscribe</a>

    <a onmouseover="this.style.backgroundColor = '#b4abab'; this.style.color = 'white'"
       onmouseout="this.style.backgroundColor = '#f9f9f9'; this.style.color='#717171'"
       style="text-decoration: none;"
       class="archieve-box"
       href="{{site.baseurl}}/feed.xml">RSS</a>

    </div>
</footer>