<div class="buymeacoffee">
  <a href="{{ site.donate }}" title="PayPal - The safer, easier way to pay online!" target="_blank" class="buymeacoffee-link">
    <img src="{{ site.url }}{{ site.baseurl }}/assets/img/website/starbucks_coffee_cup.png" alt="Buy me a coffee!">
    <div class="buymeacoffee-text">
      <span class="buymeacoffee-title">Hope that Helped!</span>
      <p class="buymeacoffee-message">If this post helped you out and you'd like to show your support, please consider fueling future posts by buying me a coffee cup!</p>
    </div>
  </a>
</div>