<header>

  <h1>
    <span style="font-weight: bold"> {{ page.title }}</span>
    <span style="font-size: 25px; color: lightgray;" class="post-date">
      <span style="font-size: 30px; font-weight: bold;">~ </span>
      {{ page.date | date_to_string }}
    </span>
  </h1>
  <div id="sub-content" class="post-header">
    {% include share-buttons.html %}
    <span style="margin-left: 0.7rem; margin-right: 0.7rem;"> or </span>
    {% include donate-button.html %}
  </div>

  <!-- Adblock Control -->
  <script src="../../assets/js/advertisement.js"></script>
  <script src="../../assets/js/adblock-checker.js"></script>
  <script type="text/javascript">
    if (adblock_check()) {
      document.getElementById("sub-content").style.display = "none";
    }
  </script>
  <!--------------------->

</header>