<div class="popup" data-popup="secure">
  <div class="popup-inner" style="background: #bac">
    <h2>Wow! Secure Key Needed!</h2>
    <p>Donec in volutpat nisi. In quam lectus, aliquet rhoncus cursus a, congue et arcu. Vestibulum tincidunt neque id nisi pulvinar aliquam. Nulla luctus luctus ipsum at ultricies.</p>
    <form>
      <input class="key" type="password" name="key">
    </form>
    <div style="margin-top: 2rem;">
      <a class="secureBtn" style="color: green;" href="#">Send</a>
      <a class="secureBtn" style="color: red;" data-popup-close="secure" href="#">Close</a>
    </div>

    <a class="popup-close" data-popup-close="secure" href="#">x</a>
  </div>
</div>