<nav id="sidebar-nav-links">

  {% if site.sidebar_homepage.enabled %}
    <a  class="home-link {% if page.url == '/' %}active{% endif %}"
        href="{{ site.url }}{{ site.baseurl }}">{{ site.sidebar_homepage.name | capitalize }}</a>
  {% endif %}

  {% for node in site.sidebar_links %}
    {% assign url = node | prepend: '/' | append: '.html' %}
        <a  class="home-link {% if page.url == url %}active{% endif %}"
        href="{{ site.url }}{{ site.baseurl }}{{ url }}">{{ node | capitalize }}</a>
  {% endfor %}

  {% if site.sidebar_blog.enabled %}
    {% assign url = site.sidebar_blog.name | prepend: '/' | append: '/' %}
    <a  class="home-link {% if page.url == url %}active{% endif %}"
        href="{{ site.url }}{{ site.baseurl }}/{{ site.sidebar_blog.name }}/">{{ site.sidebar_blog.name | capitalize }}</a>
  {% endif %}

</nav>
