.archieve-container {
  margin-top: 2rem;
}

.archieve-date {
  font-size: 18px;
  color: lightgray;
}

.archieve-list {
  padding-left: 0;
  list-style: none;
}

.archieve-reading-time {
  color: blue;
}