.archieve-container {
  margin-top: 1rem;
}

.archieve-date {
  font-size: 18px;
  color: lightgray;
}

.archieve-list {
  padding-left: 0;
  list-style: none;
}

.archieve-footer {
  position: fixed;
  bottom: 0;
  /*width: 38rem;*/
  margin-bottom: 2.5rem;
}

.archieve-box {
  padding: 0.75rem;
  color: #717171;
  background-color: #f9f9f9;
  margin-right: 1rem;
}