.work-list {
  padding-left: 0;
  list-style: none;
}

.index-footer-container {
  position: relative;
  margin-bottom: 3rem;
}

.index-footer {
  position: absolute;
  color: #717171;
  background-color: #d9d9bf;
  width: 34rem;
  padding: 0.8rem;
}