.work-list {
  padding-left: 0;
  list-style: none;
}

.post-body {
  margin-top: 1.4rem;
  margin-bottom: 2rem;
}

.post-header {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: left;
}

.post-title {
  font-size: 1rem;
}

.index-footer-container {
  position: relative;
  margin-bottom: 3rem;
}

.index-footer {
  position: absolute;
  color: #717171;
  background-color: #d9d9bf;
  width: 34rem;
  padding: 0.8rem;
}