.work-list {
  padding-left: 0;
  list-style: none;
}

.post-body {
  margin-top: 1.4rem;
  margin-bottom: 2rem;
}

.post-header {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: left;
}

.post-title {
  font-size: 1rem;
}

.index-footer-container {
  position: relative;
  margin-bottom: 3rem;
}

.index-footer {
  position: absolute;
  color: #717171;
  background-color: #d9d9bf;
  width: 34rem;
  padding: .8rem;
}

.sidebar-mini-menu {
  margin: 0;
  padding: 0;
  font-size: .7rem;
  font-family: monospace;
}

.sidebar-mini-menu a {
  color: rosybrown !important;
}

.key {
  display: block;
  margin: 0;
  padding: var(--inputPaddingV) var(--inputPaddingH);
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow var(--transitionDuration);
  padding-left: 0.5rem;
  margin-top: 1.5rem;
}

.secureBtn {
  padding: 0.5rem;
  text-decoration: none;
  font-weight: 400;
}