
/* -----------------------------------------------------------
  Tablet / Desktop view
----------------------------------------------------------- */

/* -----------------------------------------------------------
  Mobile view
----------------------------------------------------------- */

@media screen and (max-width: 49rem) {

  .content {
    padding-top: 1rem;
  }

  .post-body {
    margin-top: 1rem;
  }

  .post-header {
    display: none;
  }

  .post-date {
    visibility: hidden;
    font-size: 0px;
  }

  .buymeacoffee {
    padding: .3rem;
  }

  .buymeacoffee .buymeacoffee-link .buymeacoffee-text .buymeacoffee-title {
    font-size: 1.2rem;
    margin-bottom: .5rem;
  }

  .buymeacoffee .buymeacoffee-link .buymeacoffee-text .buymeacoffee-message {
    font-size: 1rem;
  }

}